.bhromaon-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 740px;
  z-index: 2;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 81px;
  background-color: $blue;

  &__logo-holder {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 7px 15px;
    color: $white;
    transition: all ease-in-out 0.4s;

    &:hover {
      width: 100%;
      height: calc(100% / 3);
      background-color: $white;
      color: $blue;
      border-radius: 5px;
    }
  }

  &__holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    padding: 7px 20px;
  }

  &__link {
    position: relative;
    font-family: "Aleo", serif;
    font-size: 14px;
    padding-bottom: 4px;

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $white;
      transform: scaleX(0);
      transition: 0.7s;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
