.choose-us {
  display: flex;
  width: 100%;
  min-height: 665px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 120px;

  &__holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 450px;
    color: white;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 540px;
  }

  &__title-holder {
    font-family: "Myriad Pro", sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 85px 15px 45px;
  }

  &__text-holder-first-part {
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 15px 17px;
  }

  &__text-holder-second-part {
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 15px 50px;
  }

  &__btn-holder {
    padding: 0 15px 30px;
  }

  &__btn {
    font-family: "Aleo", serif;
    font-size: 16px;
    font-weight: 400;
    padding: 22px 46px;
    background: linear-gradient(
      45deg,
      rgba(73, 149, 255, 1) 40%,
      rgba(70, 157, 255, 1) 40%,
      rgba(54, 124, 253, 1) 100%,
      rgba(54, 124, 253, 1) 100%
    );
    transition: all ease-in-out 0.4s;

    &:hover {
      opacity: 0.8;
      color: $darkGray;
    }
  }

  &__img-holder {
    display: flex;
    flex-direction: column;
    width: 480px;
    min-height: 450px;
  }

  &__house-img-holder {
    display: flex;
    justify-content: flex-start;
    padding: 3px;
  }

  &__mountian-img-holder {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
  }
}
