.tourist {
  display: flex;

  justify-content: center;
  width: 100%;
  min-height: 731px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__holder {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__description-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
    background-color: $grey;
    margin: 0 auto;
  }

  &__img-holder {
    background-size: cover;
    max-width: 445px;
    height: 100%;
    overflow: hidden;

    @include media("<500px") {
      padding: 15px;
    }
  }

  &__sam-img {
    max-width: 100%;
    height: auto;
  }

  &__sam-holder {
    display: flex;
    max-width: 665px;
    flex-direction: column;
  }

  &__title-holder {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 36px;
    padding: 120px 15px 98px;
  }

  &__subtitle-holder {
    font-weight: 400;
    font-size: 20px;
    padding: 50px 60px;
  }

  &__text-holder {
    font-weight: 400;
    font-size: 16px;
    padding: 0 50px 45px 60px;
  }

  &__text {
    &::before {
      content: "“";
      font-size: 30px;
      color: $blue;
    }
  }
}
