@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin", "Aleo", sans-serif;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-Italic.eot");
  src: url("../font/fonts/Josefin/JosefinSans-Italic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-Italic.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-Italic.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-Light.eot");
  src: url("../font/fonts/Josefin/JosefinSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-Light.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-Light.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-LightItalic.eot");
  src: url("../font/fonts/Josefin/JosefinSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-LightItalic.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-LightItalic.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-Regular.eot");
  src: url("../font/fonts/Josefin/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-Regular.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-Regular.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-BoldItalic.eot");
  src: url("../font/fonts/Josefin/JosefinSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-BoldItalic.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-BoldItalic.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../font/fonts/Josefin/JosefinSans-Bold.eot");
  src: url("../font/fonts/Josefin/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Josefin/JosefinSans-Bold.woff2") format("woff2"), url("../font/fonts/Josefin/JosefinSans-Bold.woff") format("woff"), url("../font/fonts/Josefin/JosefinSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-Regular.eot");
  src: url("../font/fonts/Aleo/Aleo-Regular.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-Regular.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-Regular.woff") format("woff"), url("../font/fonts/Aleo/Aleo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-Italic.eot");
  src: url("../font/fonts/Aleo/Aleo-Italic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-Italic.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-Italic.woff") format("woff"), url("../font/fonts/Aleo/Aleo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-BoldItalic.eot");
  src: url("../font/fonts/Aleo/Aleo-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-BoldItalic.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-BoldItalic.woff") format("woff"), url("../font/fonts/Aleo/Aleo-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-Bold.eot");
  src: url("../font/fonts/Aleo/Aleo-Bold.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-Bold.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-Bold.woff") format("woff"), url("../font/fonts/Aleo/Aleo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-Light.eot");
  src: url("../font/fonts/Aleo/Aleo-Light.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-Light.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-Light.woff") format("woff"), url("../font/fonts/Aleo/Aleo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aleo";
  src: url("../font/fonts/Aleo/Aleo-LightItalic.eot");
  src: url("../font/fonts/Aleo/Aleo-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/Aleo/Aleo-LightItalic.woff2") format("woff2"), url("../font/fonts/Aleo/Aleo-LightItalic.woff") format("woff"), url("../font/fonts/Aleo/Aleo-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../font/icons/icomoon.eot?bd13dn");
  src: url("../font/icons/icomoon.eot?bd13dn#iefix") format("embedded-opentype"), url("../font/icons/icomoon.ttf?bd13dn") format("truetype"), url("../font/icons/icomoon.woff?bd13dn") format("woff"), url("../font/icons/icomoon.svg?bd13dn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.heading {
  position: absolute;
  left: 0;
  top: 740px;
  right: 0;
  z-index: 1;
}
.heading__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474FD;
  padding: 0 18%;
}
.heading__block.active .heading__nav {
  opacity: 1;
  visibility: visible;
}
.heading__block.active .heading__burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 17px;
}
.heading__block.active .heading__burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 17px;
}
.heading__block.active .heading__burger span {
  display: none;
}
@media (max-width: 1229px) {
  .heading__block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 10%;
  }
}
@media (max-width: 636px) {
  .heading__block {
    padding: 10px 0 0 0;
  }
}
.heading__container-link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.8px;
  padding: 28px 9px 28px 9px;
}
@media (max-width: 894px) {
  .heading__nav {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 12%;
    right: 5%;
  }
}
.heading__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 535px;
  padding-right: 12px;
}
@media (max-width: 894px) {
  .heading__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: linear-gradient(46deg, rgba(73, 107, 254, 0.4) 0%, rgba(73, 107, 254, 0.4) 39%, rgba(84, 116, 253, 0.4) 39%);
    border-radius: 30px;
    padding-right: 0;
  }
}
.heading__item {
  padding: 0;
  text-align: center;
  position: relative;
}
.heading__item::before {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  height: 2px;
  background-color: aqua;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.heading__item:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 894px) {
  .heading__item {
    padding: 20px 0;
    margin: 0 10px;
  }
}
.heading__link {
  font-family: "Aleo", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
}
.heading__burger {
  display: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 894px) {
  .heading__burger {
    display: block;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 37px;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 4;
  }
  .heading__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 3px;
    border-radius: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .heading__burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 3px;
    border-radius: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .heading__burger span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #fff;
    height: 3px;
    border-radius: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
}
@media (max-width: 636px) {
  .heading {
    top: 742px;
  }
}
@media (max-width: 354px) {
  .heading {
    top: 630px;
  }
}

.search-page {
  position: relative;
}
.search-page__block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-page__text-holder {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 5.9px;
  padding-top: 266px;
  margin-bottom: 48px;
}
.search-page__text-holder p {
  padding-left: 7px;
  font-weight: 300;
}
@media (max-width: 405px) {
  .search-page__text-holder {
    font-size: 15px;
  }
}
.search-page__title {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 6px;
  font-weight: 400;
  padding-left: 4px;
  letter-spacing: 3.5px;
}
@media (max-width: 405px) {
  .search-page__title {
    font-size: 36px;
  }
}
.search-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 369px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.search-page__input {
  font-family: "Josefin", sans-serif;
  font-size: 14px;
  padding: 23px 10px 22px;
  border: 0;
  outline: 0;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}
.search-page__input::-webkit-input-placeholder {
  letter-spacing: 2.1px;
  font-weight: 300;
}
.search-page__input::-moz-placeholder {
  letter-spacing: 2.1px;
  font-weight: 300;
}
.search-page__input:-ms-input-placeholder {
  letter-spacing: 2.1px;
  font-weight: 300;
}
.search-page__input::-ms-input-placeholder {
  letter-spacing: 2.1px;
  font-weight: 300;
}
.search-page__input::placeholder {
  letter-spacing: 2.1px;
  font-weight: 300;
}
.search-page__search {
  width: 80%;
  max-width: 650px;
}
.search-page__input-holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.search-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  padding: 17px 11px 14px 33px;
  max-width: 100%;
  background-color: #5474FD;
  cursor: pointer;
}
.search-page__button span {
  padding-top: 1px;
  letter-spacing: 2.4px;
  font-size: 13px;
}
@media (max-width: 405px) {
  .search-page__button span {
    display: none;
  }
}
.search-page__button i {
  font-size: 25px;
  margin-left: 10px;
}
@media (max-width: 405px) {
  .search-page__button i {
    margin: 0;
  }
}
@media (max-width: 405px) {
  .search-page__button {
    padding: 17px 10px 13px;
  }
}
.search-page__scroll-holder {
  position: absolute;
  left: 50%;
  bottom: 28%;
  -webkit-transform: translate(-50%, -4px);
          transform: translate(-50%, -4px);
  padding-left: 4px;
}
.search-page__scroll-link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.7;
}
.search-page__scroll-link::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 40%;
  background-color: #fff;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
}
.search-page__scroll-link::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 45%;
  background-color: #fff;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
}

.choose-us__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 18% 106px;
}
@media (max-width: 1620px) {
  .choose-us__top-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.choose-us__text-content {
  max-width: 542px;
  padding-top: 52px;
}
.choose-us__title {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 51px;
  padding-left: 11px;
}
.choose-us__text-holder {
  color: #fff;
  line-height: 26px;
  padding: 2px 0 0 12px;
  font-weight: 300;
  letter-spacing: 1px;
}
.choose-us__text-holder p:first-child {
  margin-bottom: 27px;
}
.choose-us__text-holder p:nth-child(2) {
  margin-bottom: 42px;
}
@media (max-width: 1620px) {
  .choose-us__text-holder {
    text-align: center;
  }
}
.choose-us__button-holder {
  padding-left: 11px;
}
@media (max-width: 1523px) {
  .choose-us__button-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.choose-us__button {
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 21px 40px 20px 39px;
  background-image: linear-gradient(46deg, #496bfe 0%, #496bfe 39%, #5474fd 39%);
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 1620px) {
  .choose-us__button {
    margin-bottom: 20px;
  }
}
.choose-us__img-content {
  margin: 0 10px 10px;
}
.choose-us__img-holder_left {
  margin-right: 125px;
}
@media (max-width: 768px) {
  .choose-us__img-holder_left {
    margin-right: 40px;
  }
}
@media (max-width: 540px) {
  .choose-us__img-holder_left {
    margin-right: 0;
  }
}
.choose-us__img-holder_right {
  margin-left: 125px;
}
@media (max-width: 768px) {
  .choose-us__img-holder_right {
    margin-left: 40px;
  }
}
@media (max-width: 540px) {
  .choose-us__img-holder_right {
    margin-left: 0;
  }
}
.choose-us__bottom-block {
  background-color: #333;
  position: relative;
  text-align: center;
}
.choose-us__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 18%;
}
.choose-us__item {
  padding-top: 94px;
  margin: 0 10px 109px;
}
.choose-us__item_left {
  padding-right: 6px;
}
.choose-us__item_center {
  padding-left: 11px;
}
.choose-us__item_right {
  padding-left: 18px;
}
.choose-us__icon-holder {
  position: relative;
  font-size: 72px;
  border-radius: 50%;
  background-color: #333;
  z-index: 4;
  height: 80px;
  width: 80px;
  margin: 0 auto 12px;
}
.choose-us__icon-holder_dark-blue {
  color: #5474FD;
}
.choose-us__icon-holder_red {
  color: #FF6363;
}
.choose-us__icon-holder_blue {
  color: #00A2FF;
}
.choose-us__icon-holder i {
  border-radius: 50%;
  background-color: #333;
  position: relative;
  z-index: 3;
}
.choose-us__item-text-holder {
  max-width: 220px;
}
@media (max-width: 368px) {
  .choose-us__item-text-holder_padding-media {
    padding: 0 7px;
  }
}
.choose-us__item-text {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  color: #fff;
}
.choose-us__background-holder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 13%;
  width: 100%;
}
@media (max-width: 1138px) {
  .choose-us__background-holder {
    top: 7%;
  }
}
.choose-us__background {
  position: relative;
  width: 400px;
  height: 96px;
  max-width: 22%;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
}
@media (max-width: 1138px) {
  .choose-us__background_left {
    max-width: 30%;
  }
}
@media (max-width: 741px) {
  .choose-us__background_left {
    -webkit-transform: rotate(90deg) translateY(-105%);
            transform: rotate(90deg) translateY(-105%);
    position: absolute;
    max-width: 100%;
    width: 320px;
    top: 170px;
  }
}
@media (max-width: 368px) {
  .choose-us__background_left {
    -webkit-transform: rotate(90deg) translateY(-84%);
            transform: rotate(90deg) translateY(-84%);
    top: 202px;
    width: 400px;
  }
}
@media (max-width: 1138px) {
  .choose-us__background_right {
    -webkit-transform: rotate(122deg) translate(-23%, -134%);
            transform: rotate(122deg) translate(-23%, -134%);
    position: absolute;
    width: 20%;
    max-width: 100%;
    top: 260%;
    width: 280px;
  }
}
@media (max-width: 741px) {
  .choose-us__background_right {
    -webkit-transform: rotate(-90deg) translateY(-96px);
            transform: rotate(-90deg) translateY(-96px);
    max-width: 100%;
    width: 320px;
    top: 527px;
  }
}
@media (max-width: 368px) {
  .choose-us__background_right {
    -webkit-transform: rotate(-90deg) translateY(-77px);
            transform: rotate(-90deg) translateY(-77px);
    top: 593px;
    width: 400px;
  }
}

.spain__top-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 229px 18% 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (max-width: 860px) {
  .spain__top-block {
    padding: 229px 5% 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 360px) {
  .spain__top-block {
    padding: 229px 2% 100px;
  }
}
.spain__bottom-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 229px 18% 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 860px) {
  .spain__bottom-block {
    padding: 229px 5% 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 360px) {
  .spain__bottom-block {
    padding: 229px 2% 100px;
  }
}
.spain__content {
  max-width: 540px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 0 25px 0 30px;
  color: #fff;
}
.spain__content_left {
  margin-left: 11px;
}
.spain__content_right {
  margin-right: 11px;
  padding: 0 25px 0 29px;
}
.spain__span-wrap {
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.6px;
}
.spain__title {
  margin-bottom: 21px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.75px;
  word-spacing: 0.6px;
}
.spain__text-holder {
  line-height: 26px;
  letter-spacing: -0.6px;
  word-spacing: 0.1px;
  margin-bottom: 42px;
  font-weight: 300;
}
.spain__button-holder_padding {
  padding-left: 2px;
}
.spain__button {
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 21px 63px 20px;
  background-image: linear-gradient(46deg, #496bfe 0%, #496bfe 39%, #5474fd 39%);
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 50px;
}
.spain__button_bottom {
  padding: 21px 63px 20px 62px;
  margin-left: 1px;
}

.comment__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment__title-holder {
  padding-top: 115px;
  margin-bottom: 88px;
  letter-spacing: 0.5px;
}
.comment__title {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}
.comment__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 200px;
}
@media (max-width: 1119px) {
  .comment__person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.comment__img-holder img {
  display: block;
}
.comment__text-holder {
  background-color: #333;
  padding: 0 33px 0 50px;
  max-width: 665px;
}
@media (max-width: 1119px) {
  .comment__text-holder {
    max-width: 445px;
  }
}
.comment__text-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  padding-top: 52px;
  padding-left: 9px;
  margin-bottom: 39px;
  letter-spacing: -0.6px;
}
.comment__quote-holder {
  line-height: 26px;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  color: #fff;
  margin-bottom: 42px;
  padding-left: 10px;
  font-weight: 300;
}
.comment__quote-holder i {
  position: relative;
  bottom: 10px;
  padding-right: 7px;
  font-size: 20px;
  color: #5474FD;
}

.about-us {
  background-color: #232323;
}
.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.about-us__title {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 121px;
  margin-bottom: 11px;
  font-weight: 400;
}
.about-us__text-holder {
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: -1px;
  margin-bottom: 28px;
  font-weight: 300;
}
.about-us__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px;
}
.about-us__item {
  margin: 0 12px;
}
.about-us__link {
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.about-us__link:hover {
  color: #5474FD;
  -webkit-transform: scale(2);
          transform: scale(2);
}
.about-us__link_red:hover {
  color: #D50123;
  -webkit-transform: scale(2);
          transform: scale(2);
}